@import "./bootstrap/mixins/font-face";
@font-face {
  src: "./BrandonText-Regular.otf";
  font-family: "Brandon Text";
  font-weight: "normal";
  font-style: "normal";
}
$spacer:.25rem;
$paragraph-margin-bottom:.25rem;
$grid-breakpoints:(xs: 0,sm: 576px,md: 768px,lg: 992px,xl: 2700px);
$container-max-widths:(sm: 540px,md: 720px,lg: 960px,xl: 2700px);
$grid-gutter-width:15px;
$line-height-lg:1.25;
$line-height-sm:.75;
$border-width:0;
$border-radius:.15rem;
$border-radius-lg:.2rem;
$border-radius-sm:.1rem;
$font-family-base:"Brandon Text", sans-serif;
$font-family-sans-serif:"Brandon Text", !default;
$font-size-base:0.85rem;
$line-height-base:1.5;
$headings-line-height:1.4;
$display4-size:.95rem;
$mark-padding:.1em;
$list-inline-padding:.25rem;
$table-cell-padding:.25rem;
$table-cell-padding-sm:.1rem;
$card-spacer-y:.15rem;
$card-spacer-x:.5rem;
$card-columns-gap:1rem;
$list-group-item-padding-y:.25rem;
$list-group-item-padding-x:1rem;
$thumbnail-padding:.2rem;
@import "bootstrap/functions";
@import "bootstrap/variables";
$spacers:map-merge((0: 0,1: ($spacer * .15),2: ($spacer * .5),3: $spacer,4: ($spacer * 1.5),5: ($spacer * 3)), $spacers);
$sizes:map-merge((25: 15%,50: 50%,75: 75%,100: 100%,auto: auto), $sizes);
$border-color:$white;
$font-size-sm:($font-size-base * .8);
$h1-font-size:$font-size-base*3.5;
$headings-font-weight: 600;
$h5-font-size:$font-size-base*1;
$h6-font-size:$font-size-base*1.15;
$headings-margin-bottom:($spacer / 4);
$table-border-color:$white;
$table-head-bg:$white;
$table-head-color:$white;
$card-border-color:$white;
$card-cap-bg:$white;
$card-group-margin:($grid-gutter-width / 4);
$list-group-border-color:$white;
$thumbnail-border-color:$white;
$thumbnail-box-shadow:0 0px 0px rgba($white, .075);
$heading-font-size-small: .8rem;
$heading-font-size-medium: 2rem;
$heading-font-size-large: 4rem;