@import "./custom";
@import "./bootstrap/bootstrap.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #f1f2f4;
}

#Eatery {
  max-width: 140rem;
  margin: 0 auto;
  background-color: #FFF;
}
