
.restaurant-searchform-container {
  box-sizing: border-box;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  overflow: hidden;
  height: 28.8rem;
  width: 100vw;
  z-index: 2000;
  background-color: rgb(255,255,255);
  box-shadow: rgba(153,153,153, 0.4) 0px 2px 8px 0px;
  cursor: default;
  display: flex;
  flex-direction: column;
  /* margin: 0 0; */
  /* opacity: 1; */
  padding: 0 3.6rem 6.4rem 3.6rem;
  position: absolute;
  line-height: 1.6rem;
  /* transform-origin: 640px 0px;
  transition-delay: 0s;
  transition-duration: .3s;
  transition-property: opacity;  */
}

.close-btn-box {
  height: 48px;
  width: 100%;
  display: flex;
  padding-top: 16px;
  justify-content: flex-end;
}


.searchform-header-box {
  padding: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchform-header {
  font-weight: 700;
  font-size: 48px;
  box-sizing: border-box;
  line-height: 72px;
  text-align: center;
  padding: 0 0;
  margin: 0 0 24px 0;
  margin-block-end: 24px;
  height: 72px;
}

.searchform-box {
  width: 100%;
}

/* form */
.restaurant-searchform {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  padding: 0 0;
}

/* selectors container */
.selectors-container {
  margin: 0 0;
  padding: 0 0;
  min-width: 480px;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 4px;
}

.selector-box {
  flex-basis: 33.3%;
  margin: 0 0;
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.party-size-picker {
  order: 1;
  border-right: 1px solid rgba(0,0,0,0.08);
}

.date-picker {
  order: 2;
}

.time-picker {
  order: 3;
  border-left: 1px solid rgba(0,0,0,0.08);
}

.selector-btn {
  height: 100%;
  background-color: rgb(255,255,255);
  color: rgba(0,0,0,0.8);
  font-size: 1.6rem;
}

.selector-btn:hover {
  background-color: rgb(255,255,255);
  color: rgb(151,151,151);
}

.selector-btn-text {
  color: rgba(0,0,0.08);
}



.dtp-selector {
  display: flex;
  justify-content: space-evenly;
  color: rgb(151,151,151);
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.form-selector-icon-box {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0;
  margin: 0 10px 0 0;
}


/* search input  */
.dtp-search-input {
  width: 310px;
  margin: 0 24px;
  height: 48px;
  border-radius: 4px;
  align-items: center;
  /* background-attachment: scroll; */
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0,0,0.08);
  display: flex;
  flex-shrink: 0;
  /* background-color: tomato; */
}

.dtp-search-formControl {
  width: 100%;
  background-color: rgb(255,255,255);
  /* background-color: red; */
  font-size: 16px;
  height: 100%;
  color: rgb(151,151,151);
  line-height: 16px;
  border-color: transparent;
}

.dtp-search-formControl:focus {
  outline: none;
  border-color: transparent;
}

/* submit btn */
.search-submit-btn {
  align-items: flex-start;
  appearance: button;
  background-color: rgb(218,55,67);
  border: 1px solid rgb(184,34,45);
  border-radius: 4px;
  color: rgb(255,255,255);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  outline-color: rgb(255,255,255);
  margin: 0 0;
  padding: 0 8px;
  text-align: center;
  white-space: pre;
  width: 144px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  display: block;
  align-self: stretch;
}

.search-submit-btn:hover {
  background-color: rgb(184,34,45);
}



